// sass variables
$primary:blue;
$danger:red;
$white:#fff;
$raleway: "Arial";
$backgroundColor:#c00000;
$fontSize: 14px;
body{
    padding: 0;
    margin: 0;
    font-family: $raleway;
    font-size: $fontSize;
}
.container {
    display: flex;
    justify-content: center;
    background-color:$backgroundColor;
    flex-direction: column;
    align-items: center;
    padding: 3em;


  .title {
    font-family:$raleway;
    color: $white;
    }
}
